%p
  Uw arts of behandelaar, #{@requester_name}, heeft met u afgesproken dat u een vragenlijst gaat invullen. Als dit inderdaad het geval is, klik dan op de onderstaande link.

%p
  = link_to 'Vul de vragenlijst in', @link

%p
  Als dit niet het geval is, kunt u deze e-mail als niet verzonden beschouwen.
