body
  background-color: $application-background-color
  margin: 0

.container, .app
  height: 100%

header
  z-index: 5
  width: 100%
  background-color: $application-background-color
  .brand-logo
    img
      max-width: $logo-width
      margin: 15px auto 0
      display: block

.powered-by-roqua
  position: fixed
  float: right
  right: 0
  bottom: 0
  width: 0px
  transform: rotate(-90deg)
  transform-origin: bottom left

  @media (max-width: $breakpoint-mobile)
    position: relative
    transform: none

    width: auto

.active-item
  border: 3px solid $feed-item-border-color
  color: $application-text-color
  opacity: 1
  .options
    .option
      label
        color: $option-color
        &:hover
          background-color: $option-background-color-hover
          color: $option-color-hover
          cursor: pointer

      input[type="radio"]:checked
        & + label
          background-color: $option-background-color-checked
          box-shadow: inset 0 1px 6px $option-inset-shadow-color-checked
          color: $option-color-checked

button[type="submit"]
  border-radius: 5px
  padding: 5px 15px
  font-size: $screensmart-font-size
  background-color: $form-submit-background-color
  color: $form-submit-color
  border: 2px solid $form-submit-border-color
  margin-right: 1.2rem
  margin-bottom: 10px
  &:hover
    background-color: $form-submit-background-color-hover
    border: 2px solid $form-submit-border-color-hover
    cursor: pointer

#root
  @include outer-container
  .app
    @include span-columns(8)
    @include shift(2)
    .feed
      margin-bottom: 35vh
      > div
        background-color: $feed-item-background-color
        transition: border-color 0.6s
        border: 3px solid $past-feed-item-border-color
        border-radius: $feed-item-border-radius
        min-height: $feed-item-height
        max-height: 1000px
        padding: $feed-item-padding-vertical $feed-item-padding-horizontal
        margin: $feed-item-margin
        color: $past-option-text-color
        opacity: 1
        .options
          padding: 0

          .option
            list-style-type: none
            display: inline

            input[type="radio"]
              display: none

            label
              background-color: $option-background-color
              border: 1px solid $past-option-border-color
              color: $past-option-color
              padding: 5px 15px

            input[type="radio"]:checked + label
              background-color: $option-background-color-checked
              box-shadow: inset 0 1px 6px $option-inset-shadow-color-checked
              color: $option-color-checked

          .option:first-of-type label
            border-left: 1px solid $option-border-color
            border-bottom-left-radius: $option-border-radius
            border-top-left-radius: $option-border-radius

          .option:last-of-type label
            border-bottom-right-radius: $option-border-radius
            border-top-right-radius: $option-border-radius

          .option + .option label
            border-left: none

        // styling for domains with questions with more than two answers
        .options.answer-option-set-5,
        .options.answer-option-set-4,
        .options.answer-option-set-3
          .option
            display: block
            list-style-type: none
            margin-right: 0.5rem
            margin-bottom: 0.5rem
          label
            display: inline-block
            background-color: $option-background-color
            border: 1px solid $past-option-border-color
            border-radius: $option-border-radius
            color: $past-option-color
            padding: 5px 15px
            width: 100%

          .option:first-of-type label
            border-left: 1px solid $option-border-color
            border-radius: $option-border-radius

          .option:last-of-type label
            border-radius: $option-border-radius

          .option + .option label
            border-left: 1px solid $option-border-color

        &:hover
          &:not(.disabled)
            @extend .active-item

        &:last-of-type
          @extend .active-item

      &.finished
        .question,
        .question:hover
          min-height: 0
          opacity: 0
          overflow: hidden
          max-height: 0
          visibility: hidden
          padding: 0
          margin: 0
          box-sizing: border-box

.small
  font-size: 0.9rem

@media (max-height: $breakpoint-mobile-v)
  .questions-wrapper
    min-height: 100vh
  #root
    .app
      margin-bottom: 10%
@media only screen and (max-width: $breakpoint-mobile), (max-device-height: $breakpoint-mobile-v) and (orientation: landscape)
  #root
    @include outer-container(98%)
    .app
      @include span-columns(12)
      @include shift(0)
      .feed
        margin-bottom: 10%
        .item
          .question,
          .completion-box
            padding: $feed-item-padding-vertical-mobile $feed-item-padding-horizontal-mobile
            .options
              input[type="radio"] + span
                font-size: 1rem
            .options.answer-option-set-5,
            .options.answer-option-set-4,
            .options.answer-option-set-3
              .option
                width: 100%
                margin-right: 0rem
