.invitation-form
  background-color: $form-background-color
  border: 3px solid $form-border-color
  border-radius: $form-border-radius
  padding: $form-padding
  margin: $form-margin
  input[type="text"]
    font-size: $screensmart-font-size
    box-sizing: border-box
    width: 100%
    height: calc(#{$form-text-input-height} + #{$form-text-input-borders})
    margin: 0.5rem 0 $form-text-input-margin
    padding: $form-text-input-padding
    border: $form-text-input-border solid #ddd
    border-radius: $option-border-radius
    border-style: inset
    background: $form-background-color
    resize: none
    outline: none
    &:focus
      border-color: lighten($screensmart-blue, 10%)
      + label
        &[placeholder]
          &:before
            color: lighten($screensmart-blue, 5%)
    &:focus,
    &:valid
      + label
        &[placeholder]
          &:before
            transition-duration: .2s
            transform: translate(0, (-$form-text-input-padding)) scale(.9, .9)
    &:invalid
      + label
        &[placeholder]
          &[alt]
            &:before
              content: attr(alt)
    &.invalid
      border: 2px solid $screensmart-red

    + label
      &[placeholder]
        display: block
        pointer-events: none
        line-height: $form-text-input-margin * 1.2
        margin-top: -3.267rem
        margin-bottom: 1.2rem
        &:before
          content: attr(placeholder)
          display: inline-block
          margin: 0 calc(#{$form-text-input-margin} + #{$form-text-input-borders})
          padding: 0 2px
          color: #999
          white-space: nowrap
          transition: .3s ease-in-out
          background-image: linear-gradient(to bottom, $form-background-color, $form-background-color)
          background-size: 100% 8px
          background-repeat: no-repeat
          background-position: center

  .small
    font-size: 0.8rem
    color: $past-option-color
    margin-top: -8px
    margin-bottom: $screensmart-font-size
    padding-left: $form-text-padding
    display: block

  .domain-wrapper
    margin-bottom: $screensmart-font-size
    padding-top: 0.3rem
    ul.domains
      list-style-type: none
      padding-left: 0px
    .domain
      list-style-type: none
      display: inline
      display: block
      list-style-type: none
      margin-right: 0.5rem
      margin-bottom: 0.5rem

      input[type="checkbox"]
        display: none

      label
        display: inline-block
        background-color: $option-background-color
        border: 1px solid $option-border-color
        border-radius: $option-border-radius
        color: $option-color
        padding: 5px 15px
        width: 100%
        box-sizing: border-box

      input[type="checkbox"]:checked + label
        background-color: lighten($option-background-color-checked, 5%)
        box-shadow: inset 0 1px 6px lighten($option-inset-shadow-color-checked, 5%)
        color: $option-color-checked
        &:after
          content: '\2713'
          float: right
  .error
    font-size: 1rem
    font-style: italic
    color: darken($screensmart-red, 23%)
    margin-right: 2rem
    &:before
      @extend .fa
      @extend .fa-exclamation-circle:before
      padding-right: 10px

  .sent-form-info
    display: inline-block
    div
      padding: 5px 15px
      border-radius: 5px
      i
        padding-right: 10px
    .warning
      border: 2px solid $screensmart-orange
      background-color: lighten($screensmart-orange, 45%)
      i
        color: lighten($screensmart-orange, 10%)
    .submitting
      border: 2px solid $screensmart-yellow
      background-color: lighten($screensmart-yellow, 49%)
      i
        color: lighten($screensmart-yellow, 3%)
    .sent
      border: 2px solid $screensmart-green
      background-color: lighten($screensmart-green, 41%)
      i
        color: $screensmart-blue

  @media only screen and (max-width: $breakpoint-mobile)
    padding: $form-padding-mobile
    font-size: $screensmart-font-size-mobile
    input[type="text"]
      margin: 0.5rem 0 $form-text-input-margin-mobile
      padding: $form-text-input-padding-mobile 0.2rem
      height: $form-text-input-height-mobile
      &[required]
        &:focus,
        &:valid
          + label
            &[placeholder]
              &:before
                transform: translate(0, (-$form-text-input-padding-mobile)) scale(.9, .9)
        + label
          &[placeholder]
            line-height: $form-text-input-margin-mobile
            margin-top: calc(-3.267rem / #{$mobile-ratio})
            &:before
              margin: 0 15px
    .error
      font-size: calc(#{$form-text-error-font-size} / #{$mobile-ratio})
    .small
      margin-top: -3px
